 # Virtual Environment
.venv/
venv/
env/

# Elastic Beanstalk Files
-.elasticbeanstalk/*
-.elasticbeanstalk/*.global.yml
+.elasticbeanstalk/*
+!.elasticbeanstalk/config.yml
+!.elasticbeanstalk/*.global.yml
