packages:
  yum:
    gcc-c++: []
    python3-devel: []
    libffi-devel: []
    openssl-devel: []
    freetype-devel: []
    libjpeg-turbo-devel: []
    libart_lgpl-devel: []
    pkgconfig: []

commands:
  01_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip setuptools wheel"
  02_install_core_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install Flask==2.0.1 Werkzeug==2.0.2 Jinja2==3.1.2 itsdangerous==2.2.0 gunicorn==20.1.0 --no-cache-dir"
  03_install_remaining_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt --no-cache-dir"
    ignoreErrors: false
