    # .ebextensions/03_python.config
    packages:
      yum:
        gcc-c++: []
        python3-devel: []

    commands:
      01_pip_upgrade:
        command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip setuptools wheel"
        ignoreErrors: false
      02_install_dependencies:
        command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt --no-cache-dir"
        ignoreErrors: false