files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_create_dirs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /var/app/current/app/uploads/default_files
      mkdir -p /var/app/current/app/temp_uploads
      chmod -R 755 /var/app/current/app/uploads
      chmod -R 755 /var/app/current/app/temp_uploads
      chown -R wsgi:wsgi /var/app/current/app/uploads
      chown -R wsgi:wsgi /var/app/current/app/temp_uploads