# .ebextensions/nginx-proxy.config

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream gunicorn {
        server 127.0.0.1:8000;
        keepalive 256;
      }

      server {
        listen 80;
        server_name iniciativas.cl www.iniciativas.cl;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        location / {
          proxy_pass http://gunicorn;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
          proxy_connect_timeout 300s;
          proxy_read_timeout 300s;
          proxy_send_timeout 300s;
        }

        location /static/ {
          alias /var/app/current/app/static/;
        }
      }

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "run:application"