# .ebextensions/nginx-timefix.config

files:
  "/etc/nginx/conf.d/timefix.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Inicializar las variables de tiempo para log_format
      map $time_iso8601 $year {
        "~^(\d{4})-\d{2}-\d{2}" $1;
        default                 "0000";
      }

      map $time_iso8601 $month {
        "~^\d{4}-(\d{2})-\d{2}" $1;
        default                  "00";
      }

      map $time_iso8601 $day {
        "~^\d{4}-\d{2}-(\d{2})" $1;
        default                 "00";
      }

      map $time_iso8601 $hour {
        "~^\d{4}-\d{2}-\d{2}T(\d{2}):" $1;
        default                        "00";
      }